In [1]:
import pandas as pd

In [2]:
df = pd.read_pickle(r"D:\AI\Computer-Vision\Object Localization\PASCAL_VOC_labels.p")
df.shape

(2501, 4)

In [4]:
df.file_name = df.file_name.apply(str)
df.file_name = df.file_name.str.zfill(6)
df.file_name = df.file_name.apply(lambda x:x+".jpg")
df.head()

    file_name   category  cat_id                 bbox
0  000012.jpg        car       7  [96, 155, 269, 350]
1  000017.jpg      horse      13   [77, 89, 335, 402]
2  000023.jpg     person      15     [1, 2, 461, 242]
3  000026.jpg        car       7  [124, 89, 211, 336]
4  000032.jpg  aeroplane       1  [77, 103, 182, 374]

In [5]:
df.cat_id = df.cat_id-1

In [6]:
df.head()

    file_name   category  cat_id                 bbox
0  000012.jpg        car       6  [96, 155, 269, 350]
1  000017.jpg      horse      12   [77, 89, 335, 402]
2  000023.jpg     person      14     [1, 2, 461, 242]
3  000026.jpg        car       6  [124, 89, 211, 336]
4  000032.jpg  aeroplane       0  [77, 103, 182, 374]

In [8]:
df.to_csv("labels.csv",index=False)

In [10]:

df.to_pickle("PASCAL_VOC_labels.p")